In [ ]:
# This Python 3 environment comes with many helpful analytics libraries installed
# It is defined by the kaggle/python Docker image: https://github.com/kaggle/docker-python
# For example, here's several helpful packages to load

import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)

# Input data files are available in the read-only "../input/" directory
# For example, running this (by clicking run or pressing Shift+Enter) will list all files under the input directory

import os
for dirname, _, filenames in os.walk('/kaggle/input'):
    for filename in filenames:
        print(os.path.join(dirname, filename))

# You can write up to 20GB to the current directory (/kaggle/working/) that gets preserved as output when you create a version using "Save & Run All" 
# You can also write temporary files to /kaggle/temp/, but they won't be saved outside of the current session

In [2]:
import pandas as pd

file_path = "/kaggle/input/nanvalues1/NanValues1.csv"
df = pd.read_csv(file_path)
df

   Value1  Value2  Value3 Value4     Value5
0       1      11     111      w       good
1       2   -9999     222      q  excellent
2       3      33     333      e  very good
3       4      44   -9999      r       fair
4       5      55     555      t       good
5       6   -9999     666      y  excellent
6       7      77     777      u  very good
7       8      88   -8888      i       fair
8       9      99     999      o  excellent

In [ ]:
df.replace(-9999,0)

In [ ]:
import numpy as np

df.replace(to_replace=[-9999,-8888], value=np.nan)

In [ ]:
df.replace({
    'Value2':-9999,
    'Value3':[-9999,-8888],
    'Value5':'fair'
}, np.nan)

In [ ]:
df.replace({
    -9999:np.nan,
    -8888:np.nan,
    'fair':'not bad'
})

In [ ]:
df.replace(['excellent', 'very good', 'good', 'fair'],[1,2,3,4])

In [3]:
g = df.groupby("Value5")
g

In [5]:
for Value5, data in g:
    print("Value5:", Value5)
    print("data:", data)

Value5: excellent
data:    Value1  Value2  Value3 Value4     Value5
1       2   -9999     222      q  excellent
5       6   -9999     666      y  excellent
8       9      99     999      o  excellent
Value5: fair
data:    Value1  Value2  Value3 Value4 Value5
3       4      44   -9999      r   fair
7       8      88   -8888      i   fair
Value5: good
data:    Value1  Value2  Value3 Value4 Value5
0       1      11     111      w   good
4       5      55     555      t   good
Value5: very good
data:    Value1  Value2  Value3 Value4     Value5
2       3      33     333      e  very good
6       7      77     777      u  very good

In [6]:
for Value5, data in g:
    print("Value5:", Value5)
    print("max value2:", data.Value2.max())

Value5: excellent
max value2: 99
Value5: fair
max value2: 88
Value5: good
max value2: 55
Value5: very good
max value2: 77

In [7]:
g.get_group("fair")

   Value1  Value2  Value3 Value4 Value5
3       4      44   -9999      r   fair
7       8      88   -8888      i   fair

In [8]:
g.describe()

          Value1                                              Value2          \
           count      mean       std  min  25%  50%  75%  max  count    mean
Value5
excellent    3.0  5.666667  3.511885  2.0  4.0  6.0  7.5  9.0    3.0 -6633.0
fair         2.0  6.000000  2.828427  4.0  5.0  6.0  7.0  8.0    2.0    66.0
good         2.0  3.000000  2.828427  1.0  2.0  3.0  4.0  5.0    2.0    33.0
very good    2.0  5.000000  2.828427  3.0  4.0  5.0  6.0  7.0    2.0    55.0

           ...               Value3                                       \
           ...     75%   max  count    mean         std     min      25%
Value5     ...
excellent  ... -4950.0  99.0    3.0   629.0  389.819189   222.0   444.00
fair       ...    77.0  88.0    2.0 -9443.5  785.595634 -9999.0 -9721.25
good       ...    44.0  55.0    2.0   333.0  313.955411   111.0   222.00
very good  ...    66.0  77.0    2.0   555.0  313.955411   333.0   444.00


              50%      75%     max
Value5
excellent   666.0   832.50   999.0
fair      -9443.5 -9165.75 -8888.0
good        333.0   444.00   555.0
very good   555.0   666.00   777.0

[4 rows x 24 columns]

In [9]:
def grouper(df, idx, col):
    if 80 <= df[col].loc[idx] <=90:
        return '80-90'
    elif 50 <= df[col].loc[idx] <= 60:
        return '50-60'
    else:
        return 'others'

In [12]:
g = df.groupby(lambda idx: grouper(df, idx, 'Value2'))
g

In [13]:
for key, data in g:
    print("Key:", key)
    print("Data:", data)

Key: 50-60
Data:    Value1  Value2  Value3 Value4 Value5
4       5      55     555      t   good
Key: 80-90
Data:    Value1  Value2  Value3 Value4 Value5
7       8      88   -8888      i   fair
Key: others
Data:    Value1  Value2  Value3 Value4     Value5
0       1      11     111      w       good
1       2   -9999     222      q  excellent
2       3      33     333      e  very good
3       4      44   -9999      r       fair
5       6   -9999     666      y  excellent
6       7      77     777      u  very good
8       9      99     999      o  excellent